body{
    background-color:beige;
}
header{

    background-color:firebrick;
    color: white;
    align-items:center;
    padding:5px;
    text-align:left;
}
nav{
    padding:30px;
    text-align:right;
}
nav a{
    color: ivory;
    font-weight:bold;
}
.menu{
    margin-left:auto;
    display:flex;
    gap:20px;
}
.menu a{
    text-align:right;
    color:white;
    font-size:18px;
}
.products{
    display:flex;
    justify-content:center;
    margin:30px;
}
.card{
    background-color:tan;
    width:200px;
    margin:15px;
    padding:20px;
    text-align:center;

}
.clothes{
    display:flex;
    justify-content:left;
    margin:100px;
    gap:50px;
    flex-wrap:wrap;

}
.product-card img{
    border-radius:8px;
    margin-bottom:10px;
    
}
.product-img img{
    border-radius:8px;
}
footer {
    background: maroon;
    color: white;
    text-align: center;
    padding: 10px;
}
