



body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: beige;
    color: darkslategray;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:peru;
    padding: 15px 30px;
}


.logo {
    font-size: 24px;
    font-weight: bold;
    color: maroon;
}


.search-box {
    flex: 1;
    text-align: center;
}

.search-box input {
    width: 250px;
    padding: 6px;
    border: 1px solid brown;
    background-color: ivory;
}


nav a {
    margin-left: 15px;
    text-decoration: none;
    color: saddlebrown;
}

nav a:hover {
    color: maroon;
}


.banner {
    
    padding: 80px 0;
    display: flex;
    justify-content: center;
}

.banner-card {
    background-color: tan;
    padding: 40px 60px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px gray;
}

.banner-card h1 {
    color: maroon;
    margin-bottom: 10px;
}

.clothes {
    padding: 40px;
    text-align: center;
}

.clothes h2 {
    color: maroon;
    margin-bottom: 25px;
}


.featured {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.reverse {
    flex-direction: row-reverse;
}

.big {
    width: 300px;
    height: 350px;
    border-radius: 6px;
    border: 2px solid tan;
}

.small-images {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.small-images img {
    width: 150px;
    height: 170px;
    border-radius: 6px;
    border: 2px solid tan;
}


.form-section{
    width:70%;
    margin:30px auto;
    padding:20px;
    border:1px solid #ccc;
    background:#fff;
}

.form-section h2{
    text-align:center;
    color:brown;
}

.form-section form{
    display:flex;
    flex-direction:column;
}

.form-section label{
    margin-top:10px;
    font-weight:bold;
}

.form-section input[type="text"],
.form-section input[type="email"],
.form-section input[type="password"],
.form-section input[type="number"],
.form-section select{
    width:200px;
    padding:5px;
    margin-top:5px;
}

.form-section textarea{
    width:250px;
    height:80px;
    margin-top:5px;
}

.form-section input[type="radio"],
.form-section input[type="checkbox"]{
    margin:5px;
}

.form-section button{
    width:120px;
    margin-top:15px;
    padding:6px;
    background:peru;
    border:none;
    color:white;
}

.form-section button:hover{
    background:saddlebrown;
}


@media(max-width:600px){
    .form-section{
        width:90%;
    }
}

footer {
    background-color: maroon;
    color: white;
    text-align: center;
    padding: 15px;
}

